* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fire Sans, Droid, Sans, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "head head head"
    "main main sidebar"
    "foot foot foot";
}